.sidebar {
  padding: 1rem;
  border-right: 1px solid #ccc;
  min-width: 100px;
  max-width: 200px;
}
.sidebar h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar>div{
cursor: pointer;
}
.invertArrow{
  transform: rotate(180deg);
}
.show{
  display: block;
}
.hide{
  display: none;
}
.sidebar li {
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}
.sidebar li:hover {
  color: #686666;
}
.sidebar .active {
  font-weight: bold;
  color: #000000;
}
@media (max-width:767px){
  .sidebar{
    display: none;
  }
}